/* Ensure images resize properly without squeezing */
.img-fluid {
    max-width: 100%;
    height: auto;
  }
  .footer {
      background-color: #6a9f5a;
      color: white;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100vw;
      margin-top: auto; /* Ensures footer stays at the bottom */
  }
  .footer a {
      color: white;
      text-decoration: none;
      font-weight: bold;
  }

  .footer a:hover {
      text-decoration: underline;
  }
  .footer-icons {
      display: flex;
      gap: 15px;
      margin-top: 10px;
      justify-content: center;
  }

  .footer-icons a {
      display: flex;
      align-items: center;
      gap: 5px;
  }

  .footer-icons img {
      width: 24px;
      height: 24px;
  }
  @media (min-width: 768px) {
      .footer {
          flex-direction: row;
          justify-content: space-between;
          text-align: left;
          padding: 20px 40px;
      }

      .footer-left {
          text-align: left;
      }

      .footer-right {
          display: flex;
          gap: 20px;
          align-items: center;
      }

      .footer-icons img {
        width: 45px;
        height: 45px;
      } 

      .btn-news{
        background-color: #609949;
        color: #ffffff !important;
      }

      .btn-news:hover {
        background-color: #9cbf8d;
        border: 2px solid #9cbf8d;
        color: #ffffff;
      }

      .card-img-top {
        width: 100%; 
        height: 250px; 
        object-fit: cover; 
        border-radius: 8px; 
    }
  }
