.homepage-hero {
    height:80vh;  
}

.page-container {
    background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0),white), url("../images/mango-tree.PNG");
    background-repeat: no-repeat;
    background-position: 50% 20%;
    background-size: 1000px;
}

.sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 1rem;
}

.header-logo {
    max-width: 5%;
    max-height: 3rem;
    height: auto;
    margin-right: 0.5%;
}

.header-link {
    color: inherit;
}

.download-button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    border: none;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    width: 12rem;
}

.download-button:last-child {
    margin-right: 0;
}

.download-mango-icon {
    width: 3.5rem;
}

.download-small-icon {
    width: 2rem;
}

.box-row {
    display: flex;
    display: -ms-flexbox
}

.req-fields {
    margin: .1em;
    martin-top: 1em;
}

.reqs-boxes {
    text-align: center;
    vertical-align: middle;
    margin: .1em;
    margin-bottom: 1em;
    width: 10em;
    border-width:3px; 
    border-style:solid; 
    border-color:#000000; 
    background-color:#7b7b7ba7; 
    padding: .1em;
}