.homepage-hero {
    min-height:100vh;  
}

.page-container {
    background-image: url("../images/mango-tree.PNG");
    background-repeat: no-repeat;
    background-position: 50% -5%;
    background-size: 90vw;
}

.sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 1rem;
}

.header-logo {
    height: 3.2rem;
    width: auto;
}

.header-text {
    font-weight: 500;
    font-size: 1.5em;
}

.header-subtitle {
    font-size: 0.6em;
}

.nav .dropdown-menu {
    position: static;
    display: block;
}

.transparent-card {
    opacity: 0.85;
}

.download-button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    border: none;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    width: 12rem;
    max-width: 100%;
}

.download-button:last-child {
    margin-right: 0;
}

.download-mango-icon {
    width: 3.5rem;
}

.download-small-icon {
    width: 2rem;
}

.box-row {
    display: flex;
    display: -ms-flexbox
}

.req-fields {
    margin: .1em;
    margin-top: 1em;
}

.reqs-boxes {
    text-align: center;
    vertical-align: middle;
    margin: .1em;
    margin-bottom: 1em;
    width: 10em;
    border-width:3px; 
    border-style:solid; 
    border-color:#000000; 
    background-color:#7b7b7ba7; 
    padding: .1em;
}